%h2 Hello world
%p= @sort_str_ret

- if not @categories.nil?
  %ul
    - @categories.each do |cat|
      %li
        = cat.get_posts

- if not @category.nil?
  %ul
    %li= @category.name
    %li
      = @category.get_posts

- if not @sub_category.nil?
  %ul
    - if @province.nil?
      - @sub_category.posts.each do |art|
        %li
          = art.title
    - else
      - @sub_category.posts.region(@province.id).each do |art|
        %li
          = art.title

- if not @category.nil?
  %ul
    - @category.get_posts.each do |post|
      %li
        = post.title
        |
        = post.created_at