%h2 Hello world
%p= @sort_str_ret

- if not @categories.nil?
  %ul
    - @categories.each do |cat|
      %li
        = cat.get_posts

- if not @category.nil?
  %ul
    %li= @category.name
    %li
      = @category.get_posts

- if not @sub_category.nil?
  %ul
    - @sub_category.posts.each do |art|
      %li
        = art.title
