= simple_form_for(@article, html: {class: "form-horizontal"} ) do |f|
  = f.error_notification

  .form-inputs
    = f.association :segment, label: "发布栏目", label_method: :name, value_method: :id, include_blank: false
    = f.association :province, label: "发布省份", label_method: :name, value_method: :id, include_blank: false
    = f.input :title, label: "标题"
    = f.input :content, label: "内容", input_html: { cols: 80, rows: 15, style: "width:auto"}

  .controls
    = f.button :submit, "发布", class: 'btn btn-primary'
    = link_to "取消", root_url, class: 'btn btn-info'