= render partial: 'common/category/content', object: @provinces

.span7  
  %h1= @sub_category.name    
  %table.table.table-striped
    %tr
      %th 名称
      %th 发布日期
      %th 
    - if @province.nil?
      - @posts.each do |post|
        %tr
          %td= link_to post.title, post
          %td= post.created_at.strftime('%Y-%m-%d %H:%M:%S').to_s
          %td        
            - if current_admin
              = link_to '修改', edit_post_path(post), class: 'btn btn-warning'
              = link_to '删除', post, :method => :delete, :data => { :confirm => '确定删除?' }, class: 'btn btn-danger'
    - else
      - @posts.region(@province.id).each do |post|
        %tr
          %td= link_to post.title, post
          %td= post.created_at.strftime('%Y-%m-%d %H:%M:%S').to_s
          %td        
            - if current_admin
              = link_to '修改', edit_post_path(post), class: 'btn btn-warning'
              = link_to '删除', post, :method => :delete, :data => { :confirm => '确定删除?' }, class: 'btn btn-danger'