.media.panel.panel-success
  .panel-heading 信息分类
  .media-body.panel-body
    - @categories.each do |category|
      .span3
        %h4
          =link_to category.name
        %ul{style: "list-style: none;margin-left: 10px"}
          - category.sub_categories.each do |sub_category|
            - if not province.nil?
              - cat_path = "/#{province.abbr}/jzc#{category.id}s#{sub_category.id}p0.html"
            - else
              - cat_path = "/jzc#{category.id}s#{sub_category.id}p0.html"
            %li
              =link_to sub_category.name, cat_path
              - if province.nil?
                %span.badge.badge-info= sub_category.posts.count
              - else
                %span.badge.badge-info= sub_category.posts.region(province.id).count

.media.panel.panel-info
  .panel-heading 公司信息
  .media-body.panel-body
    - 3.times do
      .span4
        - 6.times do
          %p 北京公司聘证信息发布2014-02-20
    

.media.panel.panel-warning
  .panel-heading 个人信息
  .media-body.panel-body
    - Post.all.each_with_index do |post, index|
      %div{style:"float:left;width:40%;margin-right:40px"}
        = link_to post.title, post
        %span{style: "float:right"}= post.created_at.strftime('%Y-%m-%d %H:%M').to_s