.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to '建筑同城网', root_url(:subdomain => false), class: 'brand'
      %ul.nav
        %li.active
          = link_to '首页', root_url(:host => request.domain)
        %li
          %a 搜索
        / %li.dropdown
        /   %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}} 
        /     选择城市
        /     %b.caret
        /   %ul.dropdown-menu            
        /     - @provinces.each do |province|
        /       %li
        /         = link_to province.name, root_url(:subdomain => province.abbr), {tabindex: "-1"}
        /     %li.divider
        /     %li
        /       = link_to '添加城市', new_province_path, {tabindex: "-1"} 
      %ul.nav.pull-right
        %li
          - if !current_user
            %a{href: "#{new_user_session_path}", style: "padding-right:0px"} 登录
          - if current_user
            %a{href: "#", style: "padding-right:0px"} 欢迎 #{current_user.email}
        %li.divider-vertical
        %li
          - if current_user
            = link_to '退出', destroy_user_session_path, { method: :delete, style: "padding-left: 0px" }
          - if !current_user
            %a{href: "#{new_user_registration_path}", style: "padding-left:0px"} 注册