<!DOCTYPE html>
<html>
<head>
  <title>RailsExamples</title>  
  <link href="<%= root_url %>css/bootstrap.min.css" rel="stylesheet">
  <link href="<%= root_url %>css/bootstrap-responsive.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body role="document">
  <div class="row">
    <div class="container-fixed-navbar" data-desc="fixed-navbar">
      <%= render :partial => 'common/theme/top_nav' %>
    </div>    
    <div class="container" >
      <%= yield %>
    </div>
  <!--
    <div class="container theme-showcase" role="main">
      <div data-desc="jumbotron">
        <%#= render :partial => 'common/theme/jumbotron' %>
      </div>
      <div class="row" data-desc="content">
        <%#= render :partial => 'common/theme/content' %>
      </div>
    </div>
  --> 
    <div class="container">
      <footer>
        <%= render :partial => 'common/theme/footer' %>
      </footer>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="<%= root_url %>js/jquery-1.11.0.min.js"></script>  
  <script src="<%= root_url %>js/bootstrap.min.js"></script>
  <%= javascript_include_tag "application" %>
<!--  
  <script src="<%= root_url %>ckeditor/ckeditor.js"></script>
    <form>
            <textarea name="editor1" id="editor1" rows="10" cols="80">
                This is my textarea to be replaced with CKEditor.
            </textarea>
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace( 'editor1' );
            </script>
        </form>
-->
</body>
</html>